<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body>
<p>Dear <%= user.username || user.firstname %></p>

<p>You ask for reseting your password, please click the followed link to do it : </p>
<a href="<%= baseUrl %>resetPassword?email=<%= user.email %>&token=<%= user.mdpToken %>">Reset my password</a>

<p>If you don't ask for a new password please ignore this email</p>

<p>Regards</p>
</body>

</html>
