<% if (typeof errors != "undefined") { %>
<% errors.forEach(function (error) { %>
<%= __(error) %>
<% }); %>
<% } %>

<form role="form" autocomplete="off" id="mdpForm" action="/changePassword" method="post">
    <input type="hidden" name="email" value="<%= email || "" %>">
    <input type="hidden" name="token" value="<%= token || "" %>">
    <input type="password" autocomplete="off" name="password" value="" placeholder="Password"><br>
    <input type="password" autocomplete="off" name="cpassword" value="" placeholder="Password confirmation"><br>
    <button type="submit">Submit</button>
</form>
