<% if (typeof errors != "undefined") { %>
<% errors.forEach(function (error) { %>
<%= __(error) %>
<% }) %>
<% } %>
<% if (typeof messages != "undefined") { %>
<% messages.forEach(function (message) { %>
<%= __(message) %>
<% }) %>
<% } %>

<form role="form" action="/auth/local" method="post">
    <input type="text" name="identifier" placeholder="Username or Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign in</button>
</form>

<% if (typeof providers != "undefined" && Object.keys(providers).length) { %>
<h4>You can also use one of these...</h4>

<% Object.keys(providers).forEach(function (key) { %>
<a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
<% }); %>
<% } %>
