<% if (typeof errors != "undefined") { %>
<% errors.forEach(function (error) { %>
<%= __(error) %>
<% }); %>
<% } %>

<form role="form" id="passwordForm" action="/password" method="post">
    <input type="email" name="email" value="<%= email || "" %>" placeholder="Email"><br>
    <button type="submit">Submit</button>
</form>
